@font-face {
  font-family: roboto;
  src: url("polices/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: url("polices/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Shrikhand;
  src: url("polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0px;
  overflow-x: hidden;
}

/*------------step-bloc--------*/
/*-----------cards-------------*/
/*-------------like-icon-----------*/
html {
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  background-color: #f6f6f6;
  margin-top: -10px;
}
header .logo {
  width: 40%;
  padding-top: 10%;
}

.header-logo {
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 4px grey;
  z-index: 1;
  width: 100%;
  padding-bottom: 3%;
}

#locate {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #eaeaea;
  height: 50px;
}
#locate-icon {
  width: 3%;
}
#locate form {
  padding-left: 10px;
  width: 25%;
}
#locate input {
  border: none;
  height: 16px;
  background-color: #eaeaea;
  padding-left: 5px;
}
#locate input::placeholder {
  color: black;
  opacity: 1;
}

@media (min-width: 600px) {
  html {
    overflow-x: hidden;
  }
  html #locate {
    width: 20%;
    padding-top: 10px;
    justify-content: initial;
    background-color: #f6f6f6;
  }
  html #locate-icon {
    padding-left: 0;
    width: 8%;
  }
  html #locate input {
    font-size: large;
    background-color: #f6f6f6;
  }
  html header .logo {
    width: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
@media (min-width: 1024px) {
  #locate {
    justify-content: center;
  }
  #locate form {
    width: 70%;
  }
}
@media (min-width: 1300px) {
  header .header-logo {
    margin-left: 5%;
    margin-right: 5%;
  }
  header #locate {
    justify-content: center;
  }
  header #locate form {
    width: 50%;
  }
  header #locate-icon {
    width: 6%;
  }
}
#description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
#description h3 {
  width: 60%;
  text-align: center;
  margin-bottom: 0;
  font-family: roboto;
  font-weight: bold;
  font-style: normal;
  font-size: 1.3em;
}
#description-p {
  width: 90%;
  text-align: center;
  font-family: roboto;
  font-weight: normal;
  font-style: normal;
}
#description-explor {
  border-radius: 30px;
  color: white;
  background: #FF79DA;
  background: linear-gradient(170deg, #FF79DA 1%, #9356DC 180%);
  width: 55%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 40px;
  box-shadow: 2px 2px 10px grey;
}
#description-explor p {
  font-size: 0.8em;
  font-family: roboto;
  font-weight: bold;
  font-style: normal;
}

@media (min-width: 600px) {
  #description h3, #description p:nth-child(2n) {
    width: 110%;
  }
  #description h3 {
    font-size: 1.3em;
  }
  #description p:nth-child(2n) {
    font-size: 1em;
  }
  #description-explor {
    width: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
  }
  #description-explor p {
    font-size: 0.8em;
  }
}
@media (min-width: 1300px) {
  #description h3 {
    font-size: 1.7em;
  }
  #description p:nth-child(2n) {
    font-size: 1.2em;
  }
  #description-explor {
    width: initial;
    height: 2em;
  }
  #description-explor p {
    font-size: 1em;
  }
}
#fonction {
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
}
#fonction h3 {
  margin-left: 20px;
  font-family: roboto;
  font-weight: bold;
  font-style: normal;
  font-size: 1.3em;
}
#fonction .step {
  text-align: -webkit-center;
}
#fonction .step a {
  text-decoration: dashed;
  text-align: -moz-center;
  color: black;
}
#fonction .step a :hover {
  background-color: #f7ebff;
}

.step {
  position: relative;
}
.step-number {
  position: absolute;
  left: 5%;
  background-color: #a14ce8;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  align-items: center;
  font-family: roboto;
  font-weight: normal;
  font-style: normal;
}
.step-icon {
  max-width: 5%;
  margin-left: 10%;
}
.step-icon-mobil {
  width: 4%;
  margin-left: 10%;
}
.step-bloc {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 20px;
  width: 85%;
  height: 70%;
  margin-bottom: 23px;
  box-shadow: 2px 4px 8px #e7e7e7;
  align-items: center;
}
.step-bloc:hover {
  box-shadow: 6px 8px 12px #cccbcb;
}
.step-text {
  margin-left: 20px;
  font-family: roboto;
  font-weight: normal;
  font-style: normal;
  font-size: 0.9em;
}

@media (min-width: 600px) {
  #fonction {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    justify-content: space-around;
  }
  #fonction h3 {
    position: absolute;
    bottom: 90%;
    font-size: 1.4em;
  }
  #fonction .step {
    width: 25%;
    font-size: 0.8em;
    margin-top: 2%;
  }
  #fonction .step-number {
    font-size: inherit;
    top: -8%;
    left: -5%;
  }
  #fonction .step-bloc {
    width: 110%;
    height: 60%;
  }
  #fonction .step-text {
    margin-left: 5%;
  }
  #fonction .step-icon {
    max-width: 6%;
  }
  #fonction .step-icon-mobil {
    max-width: 8%;
    min-width: 5%;
  }
}
@media (min-width: 1300px) {
  #fonction {
    justify-content: center;
  }
  #fonction h3 {
    margin-left: 0;
  }
  #fonction .step {
    font-size: 1em;
    width: 20%;
    margin-left: 3%;
    margin-right: 3%;
  }
  #fonction .step-number {
    width: 25px;
    height: 25px;
    top: -13%;
  }
}
#restaurant {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 10px;
}
#restaurant h3 {
  margin-left: 20px;
  font-family: roboto;
  font-weight: bold;
  font-style: normal;
  font-size: 1.3em;
}

a {
  text-decoration: none;
}
a .cards {
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
  box-shadow: 2px 4px 8px #e7e7e7;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  position: relative;
}
a .cards p, a .cards h4 {
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: roboto;
  font-weight: normal;
  font-style: normal;
  font-size: 0.9em;
  padding-left: 15px;
  margin-top: 5px;
}
a .cards-icon {
  width: 50%;
}
a .cards h4 {
  font-family: roboto;
  font-weight: bold;
  font-style: normal;
}
a .cards-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
a .cards-new {
  background-color: #82e5d0;
  position: absolute;
  font-family: roboto;
  font-weight: normal;
  font-style: normal;
  left: 70%;
  bottom: 80%;
  text-align: center;
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%;
}
a .cards-new p {
  padding-left: 0%;
  margin: auto;
  color: #008869;
}
a .cards .like-icon {
  position: absolute;
  left: 85%;
  top: 80%;
}
a .cards .like-icon::after {
  content: url("../images/icon/like/like-icon-color.svg");
  position: absolute;
  right: 53%;
  bottom: 10%;
  opacity: 0;
  width: 45%;
}
a .cards .like-icon:hover::after {
  opacity: 1;
  transition: opacity;
  transition-duration: 1s;
}

@media (min-width: 600px) {
  #restaurant {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 60px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #restaurant h3 {
    position: absolute;
    left: 0%;
    top: 0%;
    font-size: 1.8em;
  }
  #restaurant .cards {
    height: 40%;
    margin-top: 40px;
    margin-bottom: 10%;
  }
  #restaurant .cards-icon {
    width: 100%;
  }
  #restaurant .cards-new {
    width: 20%;
    font-size: 0.5em;
  }
  #restaurant .cards-new p {
    font-size: 1.5em;
  }
  #restaurant .cards h4 {
    font-size: large;
  }
  #restaurant .like-icon {
    top: 80%;
    width: 8%;
  }
  #restaurant .like-icon::after {
    width: 96%;
    right: 3%;
    bottom: 5%;
  }
  #restaurant a {
    width: 40%;
    padding-bottom: 0;
    height: 100%;
  }
}
@media (min-width: 1020px) {
  #restaurant .like-icon {
    width: 8%;
    top: 75%;
  }
}
@media (min-width: 1300px) {
  #restaurant {
    justify-content: center;
  }
  #restaurant h3 {
    font-size: 1.4em;
  }
  #restaurant .like-icon {
    width: 6%;
  }
  #restaurant .cards {
    width: 70%;
  }
  #restaurant .cards h4 {
    font-size: 1.3em;
  }
  #restaurant .cards p {
    font-size: 1em;
  }
  #restaurant .cards-img {
    height: 150px;
  }
  #restaurant .cards-new p {
    font-size: 2em;
  }
}
footer {
  background-color: #353535;
  padding: 20px;
}
footer .logo {
  width: 30%;
  color: white;
}
footer .icon {
  width: 4%;
}
footer .icon-restau {
  width: 3%;
}
footer a {
  text-decoration: dashed;
  color: white;
  font-family: roboto;
  font-weight: normal;
  font-style: normal;
  font-size: 0.8em;
}
footer nav ul {
  list-style: none;
  padding-left: 0;
}

@media (min-width: 500px) {
  footer li .icon {
    width: 2.5%;
  }
  footer li .icon-restau {
    width: 2.5%;
  }
}
@media (min-width: 600px) {
  footer {
    position: relative;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
  }
  footer .logo {
    opacity: 1;
    width: 10%;
    position: absolute;
    top: 5%;
    left: 1%;
  }
  footer a {
    display: flex;
    font-size: 0.6em;
    width: 120%;
  }
  footer nav {
    position: absolute;
    bottom: 20%;
    width: 100%;
  }
  footer nav ul {
    display: flex;
    justify-content: space-around;
  }
  footer nav ul li {
    width: 100%;
    margin-left: 10%;
  }
  footer nav ul li .icon {
    width: 8%;
  }
  footer nav ul li .icon-restau {
    width: 6%;
  }
}
@media (min-width: 1300px) {
  footer .logo {
    width: 8%;
  }
  footer a {
    font-size: 1.2em;
  }
  footer nav {
    bottom: 25%;
  }
  footer nav ul li .icon {
    width: 8%;
  }
}
.body-loader {
  background-color: white;
  width: 100%;
  position: absolute;
  top: 8%;
  z-index: 2;
  padding-top: 70%;
  padding-bottom: 80%;
  animation: bars-opacity, index;
  animation-delay: 7s;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}

.load {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 30%;
  width: 100%;
}
.load-bar {
  background: linear-gradient(170deg, #FF79DA 1%, #9356DC 180%);
  width: 90%;
  height: 20%;
  border-radius: 20px;
  animation: bars, bars-opacity;
  animation-duration: 5s, 300ms;
  animation-delay: 0s, 5s;
  transform-origin: left;
  animation-fill-mode: forwards;
}
.load::after {
  content: url("../images/icon/check-icon 8080.svg");
  position: absolute;
  opacity: 0;
  animation-name: loading-check, opacity-check;
  animation-duration: 300ms, 800ms;
  animation-delay: 5s, 5s;
  z-index: -1;
  animation-fill-mode: forwards;
}

@keyframes bars {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes loading-check {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes opacity-check {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bars-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes index {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 0;
  }
}
@media (min-width: 600px) {
  .load {
    top: 10%;
    padding-bottom: 100%;
  }
}
@media (min-width: 1024px) {
  .body-loader {
    top: 20%;
    padding-bottom: 40%;
  }
  .body-loader .load {
    padding-bottom: 0;
  }
}
@media (min-width: 1300px) {
  .body-loader {
    top: 30%;
    padding-bottom: 25%;
  }
}
@media (min-width: 1500px) {
  .body-loader {
    padding-bottom: 20%;
  }
}
@media (min-width: 1600px) {
  .body-loader {
    padding-bottom: 15%;
  }
}
@media (min-width: 1800px) {
  .body-loader {
    padding-bottom: 10%;
  }
}
@media (min-width: 1900px) {
  .body-loader {
    padding-bottom: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
