//-----animation fonction----------//


@keyframes fadein{
    from{
    opacity: 0;
    transform: translateY(0);
    }
    to{
    opacity: 1;
    transform: translateY(-10px)
    }
}

&:nth-child(2n){
    opacity: 0;
    animation: fadein 500ms;
    animation-delay: 800ms;
    animation-fill-mode: forwards;
}

&:nth-child(3n){
    opacity: 0;
    animation: fadein 500ms;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

&:nth-child(4n){
    opacity: 0;
    animation: fadein 500ms;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

h3{
    opacity: 0;
        animation: fadein 300ms;
        animation-delay: 200ms;
        animation-fill-mode: forwards; 
}

//-----animation description----------//
h3{
    opacity: 0;
    animation: fadein 300ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}
p:nth-child(2n){
    opacity: 0;
    animation: fadein 300ms;
    animation-delay: 800ms;
    animation-fill-mode: forwards;
}
&-explor{
    opacity: 0;
    animation: fadein 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}