h4{
    @include police ($police);
    font-size:0.8em;
    
}
.underline{
    border: solid;
    border-width: 2px;
    border-color: $tertiaire;
    width: 8%;
}
.card{
   @include flex-columm;
   align-items: center;
   justify-content: space-around;
   
    &-list{
        @include card-list; 
        
//----------animation fade in---------//
        @keyframes fadein{
            from{
            opacity: 0;
            transform: translateY(0);
            }
            to{
            opacity: 1;
            transform: translateY(-10px)
            }
        }

        &:nth-child(1n){
            opacity: 0;
            animation: fadein 2s;
            animation-delay: 600ms;
            animation-fill-mode: forwards;
        }

        &:nth-child(2n){
            opacity: 0;
            animation: fadein 2s;
            animation-delay: 1000ms;
            animation-fill-mode: forwards;
        }

        &:nth-child(3n){
            opacity: 0;
            animation: fadein 2s;
            animation-delay: 1500ms;
            animation-fill-mode: forwards;
        }

        &:nth-child(4n){
            opacity: 0;
            animation: fadein 2s;
            animation-delay: 2000ms;
            animation-fill-mode: forwards;
        }
//--------réduction du texte---------------//        
    overflow: hidden;

        &:hover>.card-list-txt p{
            width: 60%;
            //transition-duration: 400ms;
        }
        &:hover>.card-list-txt h5{
            width: 60%;
            //transition-duration: 800ms;
            //transition-delay: 1s;

        }
//------translate fond vert---------------------//
        &:hover::before{
            transform: translateX(0%);
        }
//---------rotation + translation ckeck------//  
        &:hover::after{
            transform:translateX(0%);
            animation-name: check-icon;
            animation-duration: 700ms;
            animation-delay: 100ms;
            animation-timing-function: cubic-bezier(.4,.41,.74,.71);
            } 

        &:hover .price{
            transform: translateX(-85%)
        }
        
        &::before{
            @include check;
            content: "";
            background-color: $tertiaire;
            transform: translateX(105%);
            transition: transform 400ms;
            transform-origin: right;
            transition-duration: 800ms;
            transition-delay: 100ms;
        }

        &::after{//-----check-icon--------//
            content: url("../../../images/icon/check-icon.svg");
            position: absolute;
            right: 6%;
            top: 30%;
            transform: translateX(400%) ; 
            transition-duration: 700ms ;
            transition-delay: 100ms;
        }
           
        @keyframes check-icon{
            0% {transform: translateX(400%) rotate(0deg);transform-origin: 10px 8px;}
            100% {transform: translateX(0%) rotate(360deg); transform-origin: 10px 11.5px;}
        }

        &-txt{
            @include police ($police);
            font-size: 1.5em;
            @include card-list-txt;
        }

        h5{
            font-size: 0.7em;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition-duration: 800ms;
            transition-delay: 150ms;
        }

        p{
            font-size: 0.5em;
            margin: 0;
            margin-top: 1%;
            padding-bottom: 3%;
            color: grey;
            width: 90%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition-duration: 800ms;
            transition-delay: 150ms
        }
    }
        
    .price{
        @include police($police-bold);
        font-size: 1.08em;
        position: absolute;
        left:88%;
        top: 55%;
        color: $background;
        transform: translateX(0px);
        transition: 400ms;
        transition-delay: 200ms;
        width: 20%;
    }
        
}

@media (min-width:600px){
    
    .card{
        margin-left: 5%;
        width: 100%;
        display: initial;

        &-list{
            &-txt{
                font-size: 1.8em;
            }
            &::after{
                content: url("../../../images/icon/check-icon 3030.svg");
                right: 8%;
               // width: 100%;

                .checking{
                    width: 40px;
                    height: 40px;
                }
            &:hover::after{
                animation-delay: 100ms;
            }
            @keyframes check-icon{
                0% {transform: translateX(400%) rotate(0deg);}
                100% {transform: translateX(0%) rotate(360deg);}
            }
    
            }
           
        }
    }
}

@media (min-width:1020px){
    .card{

        &-list{

            &::after{
                transform: translateX(600%);
                animation-delay: 100ms;
            }

        }
    }
}
@media (min-width:1300px){

    .card{
        display: flex;
        //flex-direction: initial;
        margin-left: 0;
        margin-bottom: 10%;
        margin-top: 15%;
        justify-content: center;

        &-list{
            width: 80%;

            &::after{
                content: url("../../../images/icon/check-icon.svg");
                right: 7%;
            }

            &-txt{
                p{
                    font-size: 0.5em;
                }
                h5{
                    font-size: 0.6em;
                }
        
            }
            
        }
    }
}    
    

