body{
    margin-left: 0;
    margin-right: 0;
    main{
        background-color: $ultra-light-grey;
        padding-top: 30px;
        padding-bottom: 40px;
        #baner{
            @include flex-center;
            justify-content: space-around;
        
            h3{
                @include police ($police-bis);
            }
            #like-icon{
                width: 6%;
                color: white;
            }
            
    }
}}
h4{
    margin-left: 5%;
}
a{
    text-decoration: none;
.command{
    @include button-pink;
    margin: auto;
    margin-top: 30px;
    text-decoration: dashed;
        p{
            @include txt-button-pink;
        }
}
}