body{
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
    margin-top: 0;
    margin-bottom: 0;
    main{
        background-color: $ultra-light-grey;
        padding-bottom: 40px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding-top: 15%;

        //z-index: 1;
        #baner{
            @include flex-center;
            justify-content: space-around;
        
            h3{
                @include police ($police-bis);
                font-size:1.7em;
            }
            #like-icon{
               max-width: 6%;
            }
            
        }
    }
}
h4{
    margin-left: 5%;
}
a{
    text-decoration: none;
.command{
    @include button-pink;
    margin: auto;
    margin-top: 30px;
    text-decoration: dashed;
        p{
            @include txt-button-pink;
        }
    }
}

@media (min-width:600px){

    body{

        main{
            padding-top: 0;
            @include flex-columm;

            #baner{

                justify-content:center;

                #like-icon{
                    width: 3%;
                    margin-left: 5%;
                }
            }
        h4{
            margin-bottom: 3%;

                .underline{
                     width: 4%;
                }
            }
        }
    }

   

}

@media (min-width:1300px){
    body{

        main{
            display: flex;
            flex-direction: initial;
            justify-content: center;
            position: relative;

            #baner{
                position: absolute;
                //margin-left: 40%;
                //margin-right: 40%;

                #like-icon{
                    width: 8%;
                    max-width: initial;
                    
                }
            }
          
            h4{
                position: absolute;
                top: 20%;
                font-size: 1.2em;

                .underline{
                    width: 40%;
                }
            }
            h4:nth-child(2n){
                left: 4%;
                margin-left: 0;
            }
            h4:nth-child(4n){
                left: 37%;
            }
            h4:nth-child(6n){
                left: 70%;
            }
            
        }
        a{
            .command{
                position: absolute;
                width: 30%;
            }
        }
    }

}