@media (min-width:600px){
    footer{
        position: relative;
        padding: 5%;
        .logo{
            opacity: 1;
            width: 7%;
            position: absolute;
            top: 5%;
            left: 1%;
        }
        a{
            font-size: xx-large;
            display: flex;
        }
        nav{
            position: absolute;
            bottom: 15%;
            left: -1%;
            width: 100%;
            ul{
                display: flex;
                justify-content: space-around;
            
                li{
                    .icon{
                        width: 30%;
                    }
                }
            }    
        } 
    }
}
