footer{
    background-color: $background;
    padding: 20px;
    .logo{
        width: 30%;
        color: white;
    }
    .icon{
        width: 5%;
    }
    a{
        text-decoration: dashed;
        color: white;
        @include police ($police);
        font-size: 0.8em;
        }
    nav{
        ul{
            list-style: none;
            padding-left: 0;
        }
    }
}

@media (min-width:600px){
    footer{
        position: relative;
        padding: 5%;
        display: flex;
        justify-content: center;

        .logo{
            opacity: 1;
            width: 10%;
            position: absolute;
            top: 5%;
            left: 1%;
        }
        a{
            display: flex;
            font-size: 0.6em;
            width: 120%;
        }
        nav{
            position: absolute;
            bottom: 2%;
            //left: -1%;
            width: 80%;
            ul{
                display: flex;
                justify-content: space-around;
            
                li{
                    .icon{
                        width: 5%;
                    }
                }
            }    
        } 
    }
}

@media (min-width:1300px){
    footer{

        .logo{
            width: 8%;
        }

        a{
            font-size: 1.2em;
        }

        nav{
            bottom: 25%;
        
                ul{
                    li{
                        .icon{
                            width: 8%;

                        }
                    }
                }    
        
        }
    }
}


