html{
    overflow-x: hidden;
    }
header{
    @include flex-columm;
    align-items: center;
    margin-top: 15px;
    background-color: $ultra-light-grey;
    margin-top: -10px;

        .logo{
            width: 40%;
            padding-top: 10%;
        }
    }
.header-logo{
    background-color: white;
    @include flex-center;
    box-shadow: 0px 1px 4px grey;
    z-index: 1;
    width: 100%;
    padding-bottom: 3%;
}

#locate{
    @include flex-center;
    width: 100%;
	background-color: $light-grey;
    height: 50px;

    &-icon{
	    width:3%;
    }

    form{
        padding-left: 10px;
        width: 25%;
    }
    input{
	    border: none;
        height: 16px;
	    background-color: $light-grey;
	    padding-left: 5px;
    }

    input::placeholder{
	    color: black;
        opacity: 1;
    }
}

@media (min-width:600px){
    html{
        overflow-x: hidden;

        
        #locate{
            width: 20%;
            padding-top: 10px;
            justify-content: initial;
            background-color: #f6f6f6;
        
    
            &-icon{
                padding-left: 0;
                width: 8%;
            }

            input{
                font-size: large;
                background-color:#f6f6f6;
            }
        }

        header{

            .logo{
                width: 30%;
                padding-top: 5%;
                padding-bottom: 5%;
            }
        }
    }    
}
@media (min-width:1024px){
    #locate{
        justify-content: center;
        form{
            width: 70%;
        }
    }
}

@media (min-width:1300px){
    header{

        .header-logo{
            margin-left: 5%;
            margin-right: 5%;
        }

        #locate{
            justify-content: center;

                form{
                    width: 50%;
                }

                &-icon{
                    width: 6%;
                }
        }
    }
}