header{
    @include flex-columm;
        align-items: center;
        margin-top: 15px;
        background-color: $ultra-light-grey;
        margin-top: -10px;

    .logo{
        width: 40%;
        margin-top: 20px;
    }
}
.header-logo{
    background-color: white;
    @include flex-center;
    padding-bottom: 10px;
    box-shadow: 0px 1px 4px grey;
    z-index: 1;
    
}
#locate{
    @include flex-center;
    width: 100%;
	background-color: $light-grey;
    height: 50px;


    &-icon{
	    width:3%;
	    padding-left: 40px;
    }

    form{
        padding-left: 10px;
        width: 48%;
    }
    input{
	    border: none;
        height: 16px;
	    background-color: $light-grey;
	    padding-left: 5px;
    }

    input::placeholder{
	    color: black;
        opacity: 1;
    }
}

