#fonction{
    padding-bottom: 30px;

    h3{
        margin-left: 20px;
        @include police ($police-bold);
        font-size: 1.3em;
        opacity: 0;
        animation: fadein 300ms;
        animation-delay: 200ms;
        animation-fill-mode: forwards; 
    }

    a{
        text-decoration: dashed;
        width: 100%;
        text-align: -moz-center;
        color: black;

        :hover{
            background-color: #f7ebff;
        }
    }
}
.step{
    @include flex-center;
	position: relative;
    justify-content: space-around;
    
    &-number{
	    position: absolute;
	    left: 5%;
	    top: 6px;
        @include round-number;
        @include police ($police);
    }

    &-icon{
        max-width: 5%;
        margin-left: 10%;
    }

    &-icon-mobil{
        width: 4%;
        margin-left: 10%;
    }

    &-bloc{
        @include step-bloc;

        &:hover{
            @include step-bloc-hover;
        }
    
    }    
    
    &-text{
        margin-left: 20px;
        @include police ($police);
        font-size: 0.9em;
    }

    @keyframes fadein{
        from{
        opacity: 0;
        transform: translateY(0);
        }
        to{
        opacity: 1;
        transform: translateY(-10px)
        }
    }

    &:nth-child(2n){
        opacity: 0;
        animation: fadein 500ms;
        animation-delay: 800ms;
        animation-fill-mode: forwards;
    }

    &:nth-child(3n){
        opacity: 0;
        animation: fadein 500ms;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    &:nth-child(4n){
        opacity: 0;
        animation: fadein 500ms;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
}

@media (min-width:600px){
    #fonction{
        @include flex-center;
        margin-top: 80px;
        position: relative;
        justify-content: space-around;

            h3{
                position: absolute;
                left: 0%;
                bottom: 90%;
                font-size: 1.8em;
            }

        .step{
            width: 25%;
            font-size: 1em;
            margin-top: 2%;
        
            &-number{
                border-radius: 20px;
                height: inherit;
                font-size: inherit;
                top: -8px;
                left:-3%;
                //width: 10%;
            }    
            &-bloc{
                width: 110%;
                height: inherit;
            
            }
        }
    }
}    

