#fonction{
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;

        h3{
            margin-left: 20px;
            @include police ($police-bold);
            font-size: 1.3em;
        }
        .step{
            text-align: -webkit-center;

        a{
            text-decoration: dashed;
            text-align: -moz-center;
            color: black;

            :hover{
                background-color: #f7ebff;
            }
       }
    }   
}
.step{

    position: relative;

    &-number{
	    position: absolute;
	    left: 5%;
        @include round-number;
        @include police ($police);
    }

    &-icon{
        max-width: 5%;
        margin-left: 10%;
    }

    &-icon-mobil{
        width: 4%;
        margin-left: 10%;
    }

    &-bloc{
        @include step-bloc;

        &:hover{
            @include step-bloc-hover;
        }
    
    }    
    
    &-text{
        margin-left: 20px;
        @include police ($police);
        font-size: 0.9em;
    }
}

@media (min-width:600px){
    #fonction{
        @include flex-center;
        margin-top: 80px;
        position: relative;
        justify-content: space-around;

        h3{
            position: absolute;
            bottom: 90%;
            font-size: 1.4em;
        }

        .step{
            width: 25%;
            font-size: 0.8em;
            margin-top: 2%;
        
            &-number{
                font-size: inherit;
                top: -8%;
                left:-5%;
            }    
            &-bloc{
                width: 110%;
                height: 60%;            
            }

            &-text{
                margin-left: 5%;
            }

            &-icon{
                max-width: 6%;

                &-mobil{
                 max-width: 8%;
                 min-width: 5%;
                }
            }
        }
    }
}    

@media (min-width:1300px){
    #fonction{
        justify-content: center;

            h3{
                margin-left: 0;
            }

            .step{
                font-size: 1em;
                width: 20%;
                margin-left: 3%;
                margin-right: 3%;

                &-number{
                    width: 25px;
                    height: 25px;
                    top: -13%;
                }
            }
    }
}
