#restaurant{	
    background-color: $ultra-light-grey;
    padding-top: 30px;
    padding-bottom: 10px;

        h3{
            margin-left: 20px;
            @include police ($police-bold);
            font-size: 1.3em;
        }
}

a{
    text-decoration: none;

        .cards{
            @include cards;
            p, h4{
            margin: 0;
            text-decoration: none;
            color: black;
            @include police ($police);
            font-size: 0.9em;
            padding-left: 15px;
            margin-top: 5px}

            &-icon{
                width: 50%;
            }    

                h4{
                    @include police ($police-bold);
                }
            
            &-img{
                width: 100%;
                height: 150px;
                object-fit: cover;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
           
            &-new{
                @include new;
                    p{
                        padding-left: 0%;
                        margin: auto;
                        color:#008869;
                    }
            }

            .like-icon{
                    @include like;

                &::after{
                    content: url("../images/icon/like/like-icon-color.svg");
                    top: -2%;
                    position: absolute;
                    left: -2%;
                    width: 54%;
                    opacity: 0;
                }

                &:hover::after{
                    opacity: (1);
                    transition: opacity;
                    transition-duration: 1s;
                }
            }
        }

}               

@media (min-width:600px){
    #restaurant{
        @include flex-center;
        position: relative;
        padding-top: 60px;
        justify-content: space-around;
        flex-wrap: wrap;

        h3{
            position: absolute;
            left: 0%;
            top: 0%;
            font-size: 1.8em;
        }
        .cards{
            height: 40%;
            margin-top:40px;
            margin-bottom: 10%;

            &-icon{
                width: 100%;
            }

            &-new{
                width: 20%;
                font-size: 0.5em;
                p{
                    font-size: 1.5em;
                }
            }

            h4{
                font-size: large;
            }
          
        }

        .like-icon{
                top: 80%;
                width: 10%;

                &::after{
                    width: 100%;
                }
            }
        a{
            width: 40%;
            padding-bottom: 0;
            height: 100%;
        }
    }
}

@media (min-width:1020px){
    #restaurant{

        .like{

            &-icon{
                width: 8%;
                top: 75%;
            }
        } 
    }
}
@media (min-width:1300px){
    #restaurant{
        margin-bottom: 5%;
        justify-content: center;

        h3{
            font-size: 1.4em;
        }

        .like{

            &-icon{
                width: 6%;
            }
        }
        .cards{
            width: 70%;
            
            h4{
                font-size:1.3em;
            }
            p{
                font-size: 1em;
            }
            &-img{
                height: 150px;
            }
            &-new{
                p{
                    font-size: 2em;
                }
            }
        }
    }
}